[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/er"]
	path = themes/er
	url = https://github.com/lingxz/er.git
[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/fuegowolf/cocoa-eh-hugo-theme.git
[submodule "themes/angels-ladder"]
	path = themes/angels-ladder
	url = https://github.com/tanksuzuki/angels-ladder.git
[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark.git
