[submodule "themes/er"]
	path = themes/er
	url = https://github.com/lingxz/er.git
[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark.git
